files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_unicorn.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            # rake unicorn:start
            cd /var/app/current
            unicorn -c config/unicorn.rb -E production -D