files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_unicorn.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            # rake unicorn:start
            config = Rails.root.join('config', 'unicorn.rb')
            sh "unicorn -c #{config} -E production -D"