files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_unicorn.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            . /opt/elasticbeanstalk/support/envvars
            source /opt/elasticbeanstalk/lib/ruby/profile.sh
            export PATH=$PATH:/opt/rubies/ruby-2.4.6/bin/
            # rake unicorn:start
            cd /var/app/current
            unicorn -c config/unicorn.rb -E production -D