.waku {
    border: solid 1px gray;
    margin: 10px;
    padding: 20px;
}

.event_show_edit {
    text-align: right;
    width: auto;

}
.waku2 {
    border: solid 1px gray;
    margin: 10px;
    margin-bottom: 0px;
    padding: 20px;
}

.waku3 {
    
    border: solid 1px gray;
    margin: 10px;
    margin-top: 0px;
    padding: 20px;
}

.waku4 {
    display: inline-block;
}

.waku5 {
    display: inline-block;
    margin: 0 0 0 auto;
}

.hr {
    height: 1px;
    border: none;
    border-top: 1px #000000 solid;
  }

.tbox1 {
    width: 500px;
    height: 40px;

}

.tbox2 {
    width: 500px;
    height: 80px;

}

.tbox_input {
    width: 450px;
}

textarea {
    line-height: 1.5em;
}

body {
    /*padding-top: 200px;*/
    padding-top: 169px;
}
nav ul li {
    color: white;
}